# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.flakes8
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Env
.env
.venv
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db
